In [1]:
import pandas as pd

df = pd.read_csv('country_wise_latest.csv')
df.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [8]:
def count_ByRegionwise(dataFrame):
    grp = dataFrame.groupby('Country/Region')[['Confirmed', 'Deaths', 'Recovered']]
    return grp.sum()


print(count_ByRegionwise(df))

                    Confirmed  Deaths  Recovered
Country/Region
Afghanistan             36263    1269      25198
Albania                  4880     144       2745
Algeria                 27973    1163      18837
Andorra                   907      52        803
Angola                    950      41        242
...                       ...     ...        ...
West Bank and Gaza      10621      78       3752
Western Sahara             10       1          8
Yemen                    1691     483        833
Zambia                   4552     140       2815
Zimbabwe                 2704      36        542

[187 rows x 3 columns]

In [17]:
#method to return the confirmed cases which is not more than 10
def FilterOutput(target_Col):
    df_Filtered = df_Filtered[df[target_Col]> 10]
    return df_Filtered

inp = 'Confirmed'
df[df['Confirmed']> 10]

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,Vietnam,431,0,365,66,11,0,0,0.00,84.69,0.00,384,47,12.24,Western Pacific
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

In [ ]:
#Identify Region with Highest Confirmed Cases
dataF = df.sort_values(by='Confirmed', ascending=False)
dataF.head(1)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
173,US,4290259,148011,1325804,2816444,56336,1076,27941,3.45,30.9,11.16,3834677,455582,11.88,Americas

In [30]:
#Sort Data by Confirmed Cases
# Save sorted dataset into a new CSV file.
dataF.to_csv('Sorted_Confirmed.csv')

In [31]:
#Top 5 Countries by Case Count
dataF.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
173,US,4290259,148011,1325804,2816444,56336,1076,27941,3.45,30.90,11.16,3834677,455582,11.88,Americas
23,Brazil,2442375,87618,1846641,508116,23284,614,33728,3.59,75.61,4.74,2118646,323729,15.28,Americas
79,India,1480073,33408,951166,495499,44457,637,33598,2.26,64.26,3.51,1155338,324735,28.11,South-East Asia
138,Russia,816680,13334,602249,201097,5607,85,3077,1.63,73.74,2.21,776212,40468,5.21,Europe
154,South Africa,452529,7067,274925,170537,7096,298,9848,1.56,60.75,2.57,373628,78901,21.12,Africa

In [41]:
#Region with Lowest Death Count
df_AscenDeath = df.sort_values(by='Deaths',ascending=True)
df_AscenDeath.head(1)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
30,Cambodia,226,0,147,79,1,0,4,0.0,65.04,0.0,171,55,32.16,Western Pacific

In [44]:
#India’s Case Summary (as of April 29, 2020)
df.head(2)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe

In [50]:
#Calculate Mortality Rate by Region
#o Death-to-confirmed case ratio.
dataF['D2C_Ratio'] = (dataF['Deaths'] / dataF['Confirmed']) * 100
rat = dataF.groupby('Country/Region')[['D2C_Ratio']]
print(rat.sum())

                    D2C_Ratio
Country/Region
Afghanistan          3.499435
Albania              2.950820
Algeria              4.157581
Andorra              5.733186
Angola               4.315789
...                       ...
West Bank and Gaza   0.734394
Western Sahara      10.000000
Yemen               28.562980
Zambia               3.075571
Zimbabwe             1.331361

[187 rows x 1 columns]

In [52]:
#Compare Recovery Rates Across Regions
dataF['RecoveryRate'] = (dataF['Recovered']/dataF['Confirmed'])*100
dataRecove = dataF.groupby('Country/Region')[['RecoveryRate']]
print(dataRecove.sum())

                    RecoveryRate
Country/Region
Afghanistan            69.486805
Albania                56.250000
Algeria                67.339935
Andorra                88.533627
Angola                 25.473684
...                          ...
West Bank and Gaza     35.326240
Western Sahara         80.000000
Yemen                  49.260792
Zambia                 61.840949
Zimbabwe               20.044379

[187 rows x 1 columns]

In [53]:
dataF.columns

Index(['Country/Region', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'New cases', 'New deaths', 'New recovered', 'Deaths / 100 Cases',
       'Recovered / 100 Cases', 'Deaths / 100 Recovered',
       'Confirmed last week', '1 week change', '1 week % increase',
       'WHO Region', 'D2C_Ratio', 'RecoveryRate'],
      dtype='object')

In [57]:
#Identify Regions with Zero Recovered Cases
import os
data_recover = dataF['Recovered'] == 0
data_recover

173    False
23     False
79     False
138    False
154    False
       ...
49     False
140    False
68     False
75     False
183    False
Name: Recovered, Length: 187, dtype: bool

In [58]:
df05 = pd.read_csv('Sorted_Confirmed.csv')
df05.columns

Index(['Unnamed: 0', 'Country/Region', 'Confirmed', 'Deaths', 'Recovered',
       'Active', 'New cases', 'New deaths', 'New recovered',
       'Deaths / 100 Cases', 'Recovered / 100 Cases', 'Deaths / 100 Recovered',
       'Confirmed last week', '1 week change', '1 week % increase',
       'WHO Region'],
      dtype='object')